<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <h1>Chatterbot Example</h1>
  <div id="chat">
    <div id="chatbox">
      <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
    </div>
    <div id="userInput">
      <input id="textInput" type="text" name="msg" placeholder="Message">
      <input id="buttonInput" type="submit" value="Send">
    </div>
    <script>

       //create a message wrapper to connect easily every QA with a button
      function createMessageWrapper() {
        var wrapper = document.createElement('div');
        wrapper.className = 'wrapper'
        return wrapper;
      }
       
      //create a <span> element inside a <p> element and apende the given text(response)
      function createText(rawText, className) {
        var text = document.createElement('p');
        text.className = className;
        
        var textSpan = document.createElement('span');
        textSpan.innerText = rawText;

        $(text).append(textSpan);
        return text;
      }
      
      // What to do when the user click report button. Take userText and botText and send them to python           
      function onBadBtnClick() {
        var parent = $(this).parent('.wrapper');
        var userText = parent.find('.userText').text();
        var botText = parent.find('.botText').text();

        $.get("/bad", {userText: userText,botText: botText}).done(function (data) {

        });
      }
      
      // After user input , it creates a  div element to append the input as well as the response
      // the respone is taken from $.get("/get", { msg: rawText }).done(function (data) through python
      function getBotResponse() {
        //takes input from the user      
        var rawText = $("#textInput").val();

        var wrapper = createMessageWrapper();

        var userText = createText(rawText, 'userText')

        $(wrapper).append($(userText));

        $("#textInput").val("");
        $("#chatbox").append($(wrapper));

        document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });

        $.get("/get", { msg: rawText }).done(function (data) {
          var botText = createText(data, 'botText')

          $(wrapper).append($(botText));
            
          // Create the report button inside the div element
          var badBtn = document.createElement('button')
          badBtn.className = 'bad';
          badBtn.innerText = 'report';
          $(badBtn).click(onBadBtnClick)
          $(badBtn).click(function(){
            this.disabled = "disabled";
          });
          $(wrapper).append($(badBtn));

          document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });
        });

      }

      $("#textInput").keypress(function (e) {
        if (e.which == 13) {
          getBotResponse();
        }
      });
      $("#buttonInput").click(function () {
        getBotResponse();
      })
       
    </script>
  </div>
</body>

</html>
