body {
    font-family: Garamond;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h2 {
 color: black;
 margin-bottom: 0;
 margin-top: 0;
 text-align: center;
 font-size: 10px;
}

.info a p {
    display:none;
}
.info a:hover p {display:block;}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #000000;
    font-family: monospace;
    font-size: 17px;
}

#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}

#bad {
    padding: 5px;
    font-family: monospace;
    font-size: 20px;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}


.userText span {
    background-color: #F44336;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    padding-left: 1px;
}
.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}


.botText span {
    background-color: #5072ef;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    padding-left: 1px;
}
.botText a {
    background-color: #5072ef;
    padding: 10px;
    border-radius:50px;
}
.link {
    color: white;

}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating  {
  display: inline;
  position: relative;
  width: 1.1em;
}
#star:hover, #star:hover ~ #star{
    color:gold;    
}
.checked {
  color: gold;
}
.tooltip {
   margin-left: auto;
   margin-right: auto;
   width: 300px;
   margin-top: 60px;
   text-align: center;
   position: relative;
   color: white;
   background-color: #03cc0b;
   border-radius: 50px;
   font-size: 40px;
}

.tooltip .tooltiptext {

  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 125%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
    font-size: 20px;

}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 80%;
  left: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*.styled {
    
    display: inline-block
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.questions{
    text-align: center
    }*/
